html {
  font-size: 62.5%;
  background-color: #272822;
}

body {
	font-size: 1.4rem;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

label {
	color: #777;
	&.active {
		color: #fff;
	}
}
.game-name {
	margin-top: 8rem;
	font-family: 'Alfa Slab One', cursive;
	color: #fff;
	font-size: 4rem;
	font-weight: normal;
}

.error {
	display: none;
    text-align: center;
    margin-top: 2rem;
}

.error-message {
	display: inline-block;
    padding: 1.5rem 5rem;
    background-color: #FFBABA;
    color: #D8000C;
    border-radius: 5px;
}



.selection-list {
	list-style: none;
	margin: 2rem 0;
	padding: 0;
}

.page {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: 8rem;
}

.outcome-boom {
	font-family: 'Passion One', cursive;
	font-size: 7.6rem;
	color: #B00900;
	display: none;
	position: absolute;
	left: 270px;
	bottom: 20px;
}

.outcome-madeit {
	font-family: 'Work Sans', sans-serif;
	font-size: 4rem;
	display: none;
	position: absolute;
	right: 180px;
	bottom: 30px;
	color: #1241BD;
}

.spin-button {
	border: 0;
	border-radius: 3px;
	background-color: #a3a3a3;
	padding: 1rem 3rem;
}

.start-over {
	display: none;
	text-align: center;
	&-header {
		display: block;
		margin: 2rem 0;
	}
	&-button {
		display: inline-block;
		width: 40%;
		height: 3rem;
		border: 0;
		border-radius: 3px;
		color: #fff;
		&.no {
			margin-right: 0.5rem;
			background-color: #B03828;
		}
		&.yes {
			margin-left: 0.5rem;
			background-color: #318C07;
		}
	}
}

.ui-dialog-titlebar {
	display: none;
}

.ui-dialog {
	background: none;
	background-color: #aaa;
	&-content {
		color: #fff;
	}
}


/*
*
* Tablet
*
*/
@media only screen and (max-width: 1024px) {
	.page {
		width: 100%;
	}	

}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
	.outcome-boom {
		left: 167px;
	}

	.outcome-madeit {
		right: 51px;
	}
}

/*
*
* Phone
*
*/
@media only screen and (max-width: 670px) {
	.outcome-boom {
		left: 0;
	}

	.outcome-madeit {
		right: 0;
	}
}